/* Setting foreground color for body */
body{
    color: #161616;
}

/* Setting forground color for anchor (a) elements */
a {
    color: #161616;
}

/* Set display to non for elements with class virtually hidden */
.visually-hidden {
    display: none;
}

/* Set foreground color for elements with class card category */
.card-category {
    color: #D73953;
}

/* set foreground color for elements with class section tagline  */
.section-tagline {
    color: #D73953;
}